
header{
    background-color:#ccccff;
    padding: 30px;
    text-align: center;
    font-size: 350x;
    color: water;
}

nav{
    float: left;
    padding: 20px;
    height: 300px;
    background: rgb(204, 204, 204);
    padding: 20px;
}
article{
    float:left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 900px;

}
section:after{
    content: " ";
    display: table;
    clear: both;
}
footer{
    background: #60adde;
    padding: 10px;
    text-align: center;
    clear: both;
}
nav article{
    width: 100%;
    height:auto ;
}
.containter{
    height: 10%;
    width: 10%;
}
.canvas{
    height: 10%;
    width: 10%;
}
.mirror{
    height: 10%;
    width: 10;
}
#vid-show, #vid-canvas, #vid-take {
    display: block;
    margin-bottom: 20px;
  }
  html, body {
    padding: 0;
    margin: 0;
  }
.page_number{
    padding: 10px 20px 0px; 
    border-top: dotted 1px #CCC;
}
.images li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
li .image-item
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
.pagination li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #stick1 {
    width: 25%;
    position: absolute;
    top: 75%;
    left: 75%;
    z-index: 3;
    visibility: hidden;
}