
header{
    background-color:#ccccff;
    padding: 30px;
    text-align: center;
    font-size: 350x;
    color: water;
}

nav{
    float: left;
    padding: 20px;
    height: 300px;
    background: rgb(204, 204, 204);
    padding: 20px;
}
article{
    float:left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 700px;

}
section:after{
    content: " ";
    display: table;
    clear: both;
}
footer{
    background:white;
    padding: 10px;
    text-align: center;
    clear: both;
}
nav article{
    width: 100%;
    height:auto ;
}
.containter{
    height: 10%;
    width: 10%;
}
.canvas{
    height: 10%;
    width: 10%;
}
.mirror{
    height: 10%;
    width: 10;
}
#vid-show, #vid-canvas, #vid-take {
    display: block;
    margin-bottom: 20px;
  }
  html, body {
    padding: 0;
    margin: 0;
  }
.page_number{
    padding: 10px 20px 0px; 
    border-top: dotted 1px #CCC;
}
.images li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
li .image-item
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
.pagination li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.column {
    float: left;
    width: 48%;
    padding: 3px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .webcam li{
     display: inline;
 }
 #vid-take {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #FileToUpload{
    background-color: rgb(161, 199, 23);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #Image{
    background-color: rgb(48, 34, 173);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #img{
    background-color: rgb(43, 205, 226);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
.camera {
    width: 340px;
    height: 280px;
}
#camera {
    position: absolute;
    margin-top: -300px;
}
video {
    width: 100%;
    height: 100%;
    z-index: 9;
}
canvas {
    width: 100%;
    height: 100%;
  display: block;
  visibility: visible;
  border: 1px 1px 1px 1px;
}
